.project-container {
  width: 100%;
  padding-bottom: 20px;
  color: white;
}

.project-container .poject-title {
  margin: auto;
  width: 70%;
  margin-top: 50px;
}

.poject-title h2 {
  color: #ebecf3;
  font-family: Manrope, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.poject-title h1 {
  margin-top: 10px;
  font-family: Manrope, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.content-project {
  margin: auto;
  width: 70%;
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 10px;
  margin-top: 50px;
}

.content-project .imgs-projects {
  width: 50%;
  border-radius: 5px;
  overflow: hidden;
}

.content-project .img {
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
}
.content-project .imgs-projects .img:hover {
  transform: scale(1.03) rotate(3deg);
}

.content-project .description-project {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;

}

.content-project .description-project .span{
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 0;
}

.content-project .description-project p{
  margin: auto;
  width: 80%;
  text-align: center;
}

.content-project .description-project .project-skills{
  display: flex;
  gap: 30px;
}

.content-project .description-project .project-skills span{
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.content-project .description-project .website{
  display: flex;
  gap: 80px;
}

#project2{
  flex-direction: row-reverse;
}

@media (max-width: 1023px) {
  .project-container .poject-title {
    width: 60%;
  }

  .content-project{
    width: 60%;
    padding-bottom: 20px;
  }

  .content-project, #project2{
    flex-direction: column;
  }
  .content-project .imgs-projects{
    width: 100%;
  }

  .content-project .description-project{
    width: 100%;
  }

}
@media (max-width: 767px) {
  .project-container .poject-title {
    width: 90%;
    text-align: center;
  }

  .content-project{
    width: 90%;
    padding-bottom: 20px;
  }

  .content-project .description-project h2{
    font-size: 20px;
    margin-top: 10px;
  }
  .content-project .description-project .span{
    font-size: 14px;
  }

  .content-project .description-project .project-skills span{
    padding: 5px 10px;
  }
  .content-project .description-project .website a{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
}
